@import "main";
@import "components/brand/brand-select-item";
@import "components/model/model-list";
@import "components/model/brand-panel";
@import "components/share/header";
@import "panel-navigation";

.panel-navigation {

  ul {
    li {
      &:nth-child(2) {
        &::before {
          content: "";
          height: 3px;
          width: 120%;
          background-color: #d5b25d;
          position: absolute;
          bottom: -50px;
        }
      }
    }
  }
}
