@charset "UTF-8";
@font-face {
  font-family: IranSans;
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.fecharge.ir/fonts/iranSans/IRANSansWeb(FaNum).woff2") format("woff2");
}
body {
  font-family: IranSans;
  direction: rtl;
  margin: 0;
  background-color: #f4f6f9;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@-moz-document url-prefix() {
  button {
    font-family: NunitoSans, serif !important;
  }
}
ul {
  list-style: none;
}

h1,
h2,
h3,
p,
legend,
ul,
li,
ol,
fieldset,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.model-list {
  background-color: #fff;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.model-list li {
  border-radius: 4px;
  border: 1px solid #e6e5e5;
  padding: 12px;
  position: relative;
}
.model-list li dl {
  display: grid;
  grid-template-columns: 50% 15% 35%;
  grid-template-rows: repeat(6, max-content);
  align-items: center;
  row-gap: 6px;
}
.model-list li dl dt {
  color: #807e7e;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.model-list li dl dt:nth-child(1), .model-list li dl dt:nth-child(3) {
  display: none;
}
.model-list li dl dt:nth-child(11) {
  display: none;
}
.model-list li dl dd {
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.model-list li dl dd:nth-child(2) {
  grid-row: span 6;
}
.model-list li dl dd:nth-child(4) {
  display: none;
}
.model-list li dl dd:nth-child(12) {
  color: #0d0d0d;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  position: absolute;
  bottom: 20px;
}
.model-list li dl dd img {
  width: 100%;
}
.model-list li dl dd small,
.model-list li dl dd b {
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.model-list li dl dd small {
  margin-right: 4px;
}
.model-list li dl dd small::before {
  content: "±";
  margin-left: 4px;
}
.model-list li a {
  border-radius: 39px;
  background: #d5b25d;
  color: #352d17;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  padding: 9px 0;
  width: 40%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.model-list li a::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #e6e5e5;
  position: absolute;
  right: 0;
  bottom: 64px;
}

.panel-navigation {
  background-color: #fff;
  padding: 8px 8px 38px 8px;
}
.panel-navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}
.panel-navigation ul li:empty {
  background-color: #fbf8ef;
}
.panel-navigation ul li:empty:nth-child(1) {
  background-image: url("../images/panel/tag.svg");
}
.panel-navigation ul li:empty:nth-child(2) {
  background-image: url("../images/panel/link.svg");
}
.panel-navigation ul li:empty:nth-child(3) {
  background-image: url("../images/panel/badge.svg");
}
.panel-navigation ul li:empty:nth-child(4) {
  background-image: url("../images/panel/circle-triangle.svg");
}
.panel-navigation ul li {
  border-radius: 50%;
  border: 1px solid #e6e5e5;
  width: 64px;
  height: 64px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel-navigation ul li summary {
  width: 80px;
  height: 60px;
  display: flex;
}
.panel-navigation ul li summary img {
  width: 100%;
  border-radius: 50%;
}
.panel-navigation ul li:nth-child(1)::after {
  content: "برند";
}
.panel-navigation ul li:nth-child(2)::after {
  content: "مدال";
}
.panel-navigation ul li:nth-child(3)::after {
  content: "زنجیر";
}
.panel-navigation ul li:nth-child(4)::after {
  content: "حلقه";
}
.panel-navigation ul li::after {
  position: absolute;
  bottom: -30px;
  right: 20px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.panel-navigation details {
  position: relative;
}
.panel-navigation details ul {
  background-color: #fff;
  display: flex;
  position: absolute;
  z-index: 2;
  width: 340px;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #e6e5e5;
  padding: 8px;
  top: 130px;
  overflow-y: hidden;
  right: 16px;
}
.panel-navigation details ul li {
  border: none;
  border-radius: unset;
  background: none;
  box-shadow: none;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  flex: 0 0 25%;
}
.panel-navigation details ul li dl dt {
  display: none;
}
.panel-navigation details ul li dl dd {
  display: none;
  height: 64px !important;
}
.panel-navigation details ul li dl dd:nth-child(2) {
  display: block;
}
.panel-navigation details ul li dl dd:nth-child(2) img {
  width: 74px;
  height: 64px;
}
.panel-navigation details ul li ul {
  display: none;
}
.panel-navigation details ul li::after {
  content: "" !important;
}

li:has(> details[open]) {
  position: unset;
}

details[open] {
  position: unset;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}

.panel-navigation {
  margin-bottom: 12px;
}
.panel-navigation details ul {
  top: 230px;
}
.panel-navigation ul li:nth-child(3) summary {
  width: 59px;
  height: 59px;
}
.panel-navigation ul li:nth-child(4) summary {
  width: 59px;
  height: 59px;
}
.panel-navigation ul li:nth-child(4)::before {
  content: "";
  height: 3px;
  width: 120%;
  background-color: #d5b25d;
  position: absolute;
  bottom: -40px;
}/*# sourceMappingURL=brand-medal-chain-ring-model-list.css.map */