@import "main";
@import "components/model/model-list";
@import "components/share/header";
@import "panel-navigation";
@import "components/brand/brand-select-item";
@import "components/model/brand-panel";


.panel-navigation {
  margin-bottom: 12px;
  .panel-navigation-list {
    li {
      &:nth-child(3) {
        summary {
          width: 59px;
          height: 59px;
        }
      }
      &:nth-child(4),
      &:nth-child(3) {
        summary {
          width: 59px;
          height: 59px;
          &::before,
          &::after{
            left: 20px;
          }
        }
  
      }
    }
  }
}
