@charset "UTF-8";
@font-face {
  font-family: IranSans;
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.fecharge.ir/fonts/iranSans/IRANSansWeb(FaNum).woff2") format("woff2");
}
body {
  font-family: IranSans;
  direction: rtl;
  margin: 0;
  background-color: #f4f6f9;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@-moz-document url-prefix() {
  button {
    font-family: NunitoSans, serif !important;
  }
}
ul {
  list-style: none;
}

h1,
h2,
h3,
p,
legend,
ul,
li,
ol,
fieldset,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: IranSans;
  font-style: normal;
  font-weight: 400;
  src: url("https://cdn.fecharge.ir/fonts/iranSans/IRANSansWeb(FaNum).woff2") format("woff2");
}
body {
  font-family: IranSans;
  direction: rtl;
  margin: 0;
  background-color: #f4f6f9;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@-moz-document url-prefix() {
  button {
    font-family: NunitoSans, serif !important;
  }
}
ul {
  list-style: none;
}

h1,
h2,
h3,
p,
legend,
ul,
li,
ol,
fieldset,
dd,
dt,
dl {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #fff;
  padding: 11px 16px;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  position: relative;
}
header ul li u#lxgoldLogo {
  text-indent: -90000px;
  overflow: hidden;
  background: url("../../../../statics/images/logo/header-logo.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  min-width: 160px;
  min-height: 34px;
}
header ul li details summary {
  text-indent: -90000px;
  overflow: hidden;
  background: url("../../../../statics/images/Icon/Hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  min-width: 24px;
  min-height: 24px;
  position: absolute;
  right: 0;
  top: 5px;
  z-index: 11;
  cursor: pointer;
}
header ul li details ol {
  position: absolute;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100vh;
  right: -16px;
  z-index: 10;
  list-style: none;
  padding: 50px 16px 16px 16px;
  top: 0px;
  width: 0px;
  transition: all 0.5s;
}
header ul li details ol li {
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  opacity: 0;
  transition: all 0.5s;
}
header ul li details[open] summary {
  position: absolute;
}
header ul li details[open] ol {
  width: 250px;
  transition: all 0.5s;
}
header ul li details[open] ol li {
  opacity: 1;
  transition: all 0.5s;
}

.brand-select-panel {
  display: flex;
  background: #f3f3f3;
  gap: 8px;
  text-align: center;
  padding: 12px 8px;
  overflow: scroll;
}
.brand-select-panel li {
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  padding: 12px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1 0 40%;
}
.brand-select-panel li dl {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.brand-select-panel li dl dt {
  display: none;
}
.brand-select-panel li dl dd img {
  width: 100px;
  height: 100px;
}
.brand-select-panel li dl dd:nth-child(2) {
  height: 100px;
}
.brand-select-panel li dl dd:nth-child(4) {
  color: #0d0d0d;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 22px;
}
.brand-select-panel li dl dd:nth-child(6) {
  color: #807e7e;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
.brand-select-panel li li:first-child {
  padding: 0;
  box-shadow: none;
  border-radius: 0;
}
.brand-select-panel li li:first-child a {
  color: #352d17;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border-radius: 39px;
  border: 1px solid #eee0be;
  width: 100%;
  padding: 8px 0;
}

.model-list {
  background-color: #fff;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.model-list li {
  border-radius: 4px;
  border: 1px solid #e6e5e5;
  padding: 12px;
  position: relative;
}
.model-list li dl {
  display: grid;
  grid-template-columns: 50% 15% 35%;
  grid-template-rows: repeat(6, max-content);
  align-items: center;
  row-gap: 6px;
}
.model-list li dl dt {
  color: #807e7e;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.model-list li dl dt:nth-child(1), .model-list li dl dt:nth-child(3) {
  display: none;
}
.model-list li dl dt:nth-child(11) {
  display: none;
}
.model-list li dl dd {
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.model-list li dl dd:nth-child(2) {
  grid-row: span 6;
}
.model-list li dl dd:nth-child(4) {
  display: none;
}
.model-list li dl dd:nth-child(12) {
  color: #0d0d0d;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  position: absolute;
  bottom: 20px;
}
.model-list li dl dd img {
  width: 100%;
}
.model-list li dl dd small,
.model-list li dl dd b {
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.model-list li dl dd small {
  margin-right: 4px;
}
.model-list li dl dd small::before {
  content: "±";
  margin-left: 4px;
}
.model-list li a {
  border-radius: 39px;
  background: #d5b25d;
  color: #352d17;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  padding: 9px 0;
  width: 40%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.model-list li a::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #e6e5e5;
  position: absolute;
  right: 0;
  bottom: 64px;
}

.panel-navigation {
  background-color: #fff;
  padding: 8px 8px 38px 8px;
  position: relative;
}
.panel-navigation .panel-navigation-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 8px;
}
.panel-navigation .panel-navigation-list .panel-navigation-list-item:empty {
  background-color: #fbf8ef;
}
.panel-navigation .panel-navigation-list .panel-navigation-list-item:empty:nth-child(1) {
  background-image: url("../images/panel/tag.svg");
}
.panel-navigation .panel-navigation-list .panel-navigation-list-item:empty:nth-child(2) {
  background-image: url("../images/panel/link.svg");
}
.panel-navigation .panel-navigation-list .panel-navigation-list-item:empty:nth-child(3) {
  background-image: url("../images/panel/badge.svg");
}
.panel-navigation .panel-navigation-list .panel-navigation-list-item:empty:nth-child(4) {
  background-image: url("../images/panel/circle-triangle.svg");
}
.panel-navigation .panel-navigation-list .panel-navigation-list-item {
  border-radius: 50%;
  border: 1px solid #e6e5e5;
  width: 64px;
  height: 64px;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.panel-navigation .panel-navigation-list .panel-navigation-list-item summary {
  width: 80px;
  height: 60px;
  display: flex;
}
.panel-navigation .panel-navigation-list .panel-navigation-list-item summary img {
  width: 100%;
  border-radius: 50%;
}
.panel-navigation .panel-navigation-list .panel-navigation-list-item:nth-child(1)::after {
  content: "برند";
}
.panel-navigation .panel-navigation-list .panel-navigation-list-item:nth-child(2)::after {
  content: "مدال";
}
.panel-navigation .panel-navigation-list .panel-navigation-list-item:nth-child(3)::after {
  content: "زنجیر";
}
.panel-navigation .panel-navigation-list .panel-navigation-list-item:nth-child(4)::after {
  content: "حلقه";
}
.panel-navigation .panel-navigation-list .panel-navigation-list-item::after {
  position: absolute;
  bottom: -30px;
  right: 20px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.panel-navigation details {
  position: relative;
}
.panel-navigation details .brand-select-panel,
.panel-navigation details .brand-model,
.panel-navigation details .brand-medal-chain-model-list {
  background-color: #fff;
  display: flex;
  position: absolute;
  z-index: 2;
  width: calc(100% - 30px);
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #e6e5e5;
  padding: 8px;
  top: 115px;
  overflow-y: hidden;
  right: 16px;
}
.panel-navigation details .brand-select-panel li,
.panel-navigation details .brand-model li,
.panel-navigation details .brand-medal-chain-model-list li {
  border: none;
  border-radius: unset;
  background: none;
  box-shadow: none;
  padding: 0;
}
.panel-navigation details .brand-select-panel li dl dt,
.panel-navigation details .brand-model li dl dt,
.panel-navigation details .brand-medal-chain-model-list li dl dt {
  display: none;
}
.panel-navigation details .brand-select-panel li::after,
.panel-navigation details .brand-model li::after,
.panel-navigation details .brand-medal-chain-model-list li::after {
  content: "" !important;
}

.panel-navigation .panel-navigation-list .panel-navigation-list-item:has(> details[open]) {
  position: unset;
}

details[open] {
  position: unset;
}
details[open] summary {
  position: relative;
}
details[open] summary::after {
  content: "";
  background: url(".././../statics/images/Icon/x-close.svg");
  position: absolute;
  bottom: -32px;
  left: 30px;
  display: flex;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}

.panel-navigation ul li:nth-child(1)::before {
  content: "";
  height: 3px;
  width: 120%;
  background-color: #d5b25d;
  position: absolute;
  bottom: -40px;
}

body {
  background-color: #fff;
  padding: 24px 16px;
}

main img {
  margin: auto;
  display: block;
}

article h2 {
  color: #0d0d0d;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px;
}
article p {
  color: #0d0d0d;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
article p:last-child {
  margin-bottom: 16px;
}

.model-details {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.model-details li {
  border-radius: 4px;
  border: 1px solid #e6e5e5;
  padding: 12px;
  position: relative;
}
.model-details li dl {
  display: grid;
  grid-template-columns: 20% 80%;
  align-items: center;
  row-gap: 6px;
}
.model-details li dl dt {
  color: #807e7e;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.model-details li dl dd {
  color: #0d0d0d;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}
.model-details li dl dd img {
  width: 100%;
}
.model-details li a {
  border-radius: 39px;
  background: #d5b25d;
  color: #352d17;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  padding: 9px 0;
  width: 40%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
}
.model-details li a::after {
  content: "";
  height: 1px;
  width: 100%;
  background-color: #e6e5e5;
  position: absolute;
  right: 0;
  bottom: 64px;
}

button {
  color: #6b592f;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border-radius: 39px;
  background: #d5b25d;
  padding: 9px 0;
  border: none;
  width: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 32px;
  float: left;
  margin-bottom: 32px;
}/*# sourceMappingURL=model-detail.css.map */