@import "main";
@import "index";

body {
  background-color: #fff;
  padding: 24px 16px;
}
main {
  img {
    margin: auto;
    display: block;
  }
}
article {
  h2 {
    color: #0d0d0d;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
  }
  p {
    color: #0d0d0d;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    &:last-child {
      margin-bottom: 16px;
    }
  }
}

.model-details {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  li {
    border-radius: 4px;
    border: 1px solid #e6e5e5;
    padding: 12px;
    position: relative;
    dl {
      display: grid;
      grid-template-columns: 20% 80%;
      align-items: center;
      row-gap: 6px;
      dt {
        color: #807e7e;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
      }
      dd {
        color: #0d0d0d;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;

        img {
          width: 100%;
        }
      }
    }
    a {
      border-radius: 39px;
      background: #d5b25d;
      color: #352d17;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      padding: 9px 0;
      width: 40%;
      float: left;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 24px;
      &::after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: #e6e5e5;
        position: absolute;
        right: 0;
        bottom: 64px;
      }
    }
  }
}

button {
  color: #6b592f;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  border-radius: 39px;
  background: #d5b25d;
  padding: 9px 0;
  border: none;
  width: 40%;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 32px;
  float: left;
  margin-bottom: 32px;
}
