.panel-navigation {
  background-color: #fff;
  padding: 8px 8px 50px 8px;
  position: relative;
  .panel-navigation-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
    .panel-navigation-list-item:empty {
      background-color: #fbf8ef;

      &:nth-child(1) {
        background-image: url("../images/panel/tag.svg");
      }
      &:nth-child(2) {
        background-image: url("../images/panel/link.svg");
      }
      &:nth-child(3) {
        background-image: url("../images/panel/badge.svg");
      }
      &:nth-child(4) {
        background-image: url("../images/panel/circle-triangle.svg");
      }
    }
    .panel-navigation-list-item {
      border-radius: 50%;
      border: 1px solid #e6e5e5;
      width: 64px;
      height: 64px;
      position: relative;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: center;
      align-items: center;
      summary {
        width: 80px;
        height: 60px;
        display: flex;
        &::before{
          content: url("../../statics/images/Icon/chevron-down.svg");
          position: absolute;
          height: 20px;
          width: 20px;
          transform: rotate(180deg);
          bottom: -54px;
          left: 33px;
        }
        img {
          width: 100%;
          border-radius: 50%;
        }
      }
      &:nth-child(1) {
        &::after {
          content: "برند";
        }
      }
      &:nth-child(2) {
        &::after {
          content: "مدال";
        }
      }
      &:nth-child(3) {
        &::after {
          content: "زنجیر";
        }
      }
      &:nth-child(4) {
        &::after {
          content: "حلقه";
        }
      }
      &::after {
        position: absolute;
        bottom: -30px;
        right: 20px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
      }
    }
  }

  details {
    position: relative;
    .brand-select-panel,
    .brand-model,
    .brand-medal-chain-model-list {
      background-color: #fff;
      display: flex;
      position: absolute;
      z-index: 2;
      width: calc(100% - 30px);
      align-items: flex-start;
      border-radius: 8px;
      border: 1px solid #e6e5e5;
      padding: 8px;
      top: 115px;
      overflow-y: hidden;
      right: 16px;
      li {
        border: none;
        border-radius: unset;
        background: none;
        box-shadow: none;
        padding: 0;
        dl {
          dt {
            display: none;
          }
        }
        &::after {
          content: "";
        }
      }
    }
  }
}

.panel-navigation .panel-navigation-list .panel-navigation-list-item:has(> details[open]) {
  position: unset;
}
details[open] {
  position: unset;

  summary {
    position: relative;
    &::after {
      content: "";
      background: url(".././../statics/images/Icon/x-close.svg");
      position: absolute;
      bottom: -32px;
      left: 30px;
      display: flex;
      width: 24px;
      height: 24px;
      background-position: center;
      background-repeat: no-repeat;
    }
    &::before{
      content: "";
    }
  }
}

details summary::-webkit-details-marker,
details summary::marker {
  display: none;
  content: "";
}
